<br>
<% if @wiki.private %>
  <p><i>Note: this wiki is private</i></p>
<% end %>
<p>Collaborators:</p>
<ul>
  <% @collaborators.each do |collaborator| %>
    <li><%= collaborator.user.name %></li>
  <% end %>
</ul>
<%= link_to "Edit Wiki", edit_wiki_path(@wiki), class: 'btn btn-success' %>
<%= link_to "Delete Wiki", @wiki, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this wiki?' } %>
<h2><%= markdown_to_html @wiki.title %></h2>

<p><%= markdown_to_html @wiki.body %></p>