<br>
<% if @wiki.private %>
  <p><i>Note: this wiki is private</i></p>
<% end %>
<%= link_to "Edit Wiki", edit_wiki_path(@wiki), class: 'btn btn-success' %>
<%= link_to "Delete Wiki", @wiki, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this wiki?' } %>
<div class='row'>
  <div class='col-md-8'>
    <h2><%= markdown_to_html @wiki.title %></h2>

    <p><%= markdown_to_html @wiki.body %></p>
  </div>
  <div class='col-md-4 bg-success'>
    <p><b>Collaborators:</b></p>
    <ul>
      <% @collaborators.each do |user| %>
        <li><%= user.name %></li>
      <% end %>
    </ul>
  </div>
</div>